<div class="input-row" *ngIf="type !== dataEnum.invalid">
  <label [for]="data.key">{{data.desc}}</label>
  <input [id]="data.key" type="text" [value]="data.value" (keyup)="onChange($event)" *ngIf="type === dataEnum.text">
  <input [id]="data.key" type="number" [value]="data.value" (keyup)="onChange($event)" (change)="onChange($event)" *ngIf="type === dataEnum.number">
  <select [name]="data.key" [id]="data.key" *ngIf="type === dataEnum.boolean" (change)="onChange($event)">
    <option value="y" [selected]="value === 'y'">true</option>
    <option value="n" [selected]="value === 'n'">false</option>
  </select>
  <div *ngIf="type === dataEnum.attributes">
    <div *ngIf="data.a"><label>a</label> <input type="checkbox" [checked]="data.a === 'y'"></div>
    <div *ngIf="data.o"><label>o</label> <input type="checkbox" [checked]="data.o === 'y'"></div>
<!--    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <div *ngIf="data.l"><label>l</label> <input type="checkbox" [checked]="data.l === 'y'"></div>
    <div *ngIf="data.c"><label>c</label> <input type="checkbox" [checked]="data.c === 'y'"></div>
    <div *ngIf="data.r"><label>r</label> <input type="checkbox" [checked]="data.r === 'y'"></div>
  </div>
</div>

