<div>
  <input type="text" [value]="testData" (keyup)="onInputChange($event)" #inputSaveString>
  <button (click)="loadSaveInput()">load</button>
  <button (click)="clearSaveInput()">clear</button>
</div>


<div class="fieldset-header">
  Premium rewards.
</div>
<div class="row">
  <app-item [itemdata]="premiumData" *ngFor="let premiumData of premiumFields" (changeXmlData)="setXmlData($event)"></app-item>
</div>

<div class="fieldset-header">
  Overseers
</div>
<div class="row">
  <app-item [itemdata]="managerData" *ngFor="let managerData of managerFields" (changeXmlData)="setXmlData($event)" (changeXmlAttrData)="setXmlAttrData($event)"></app-item>
</div>

<div class="fieldset-header">
  Rewards.
</div>
<div class="row">
  <app-item [itemdata]="rewardsData"
            *ngFor="let rewardsData of rewardsFields"
            (changeXmlData)="setXmlData($event)"
            (changeXmlAttrData)="setXmlAttrData($event)"
  >
  </app-item>
</div>


<div>
  <textarea class="output" #output>{{decodedData}}</textarea>
</div>
<div>
  <button (click)="onClickEncode()">generate savedata</button>
  <br>
  <textarea>{{encodedData}}</textarea>
</div>
